requests
jupyter
# PDF 라이브러리
pypdf2
pdfplumber
PyMuPDF
camelot-py[cv]
tabula-py

numpy 
pandas 
matplotlib 
seaborn
statsmodels
bokeh
pydotplus 
h5py 
scikit-learn
pydot
scipy 
libpython
ujson
tqdm
wordcloud
gensim
openpyxl
nltk
wikiextractor
seqeval
konlpy
ipykernel
jupyter