
# Install Guiding
# Python 3.8.10
numpy 
pandas 
matplotlib 
seaborn
statsmodels
bokeh
pydotplus 
h5py 
scikit-learn
pydot
scipy 
libpython
ujson
tqdm
wordcloud
gensim
openpyxl
nltk
wikiextractor
seqeval
konlpy
ipykernel
jupyter
selenium
BeautifulSoup
# tensorflow
# keras
# keras-crf
# sentencepiece
# tokenizers
# tensorflow_datasets
# transformers
# sentence_transformers
